<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../res/images/famousIcon.PNG">
    <title>Famous Fashion</title>

    <!-- css -->
    <link rel="stylesheet" href="../res/css/header.css">
    <link rel="stylesheet" href="../res/css/header.small.css">
    <link rel="stylesheet" href="../res/css/main.css">
    <link rel="stylesheet" href="res/css/admin-main.css">
    <link rel="stylesheet" href="../res/css/catalogue.css">
    <link rel="stylesheet" href="../res/css/catalog.small.css">

    <!-- External libraries -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <!-- js -->
    <!-- <script type="module" src="res/js/main.js"></script> -->
</head>
<body>
    <header>
        <!-- nav large -->
        <nav>
            <button id="hambager-menu"><i class="bx bx-menu"></i></button>
            <div id="logo">
                <h1>famous <i class="bx bxs-shopping-bag" style="color: red;"></i></h1> 
            </div>
            <ul>
                <div class="nav-links">
                    <li>Admin</li>
                </div>

                <div class="nav-btns">
                    <li id="bottom-menu"><button><i class="bx bx-menu"></i></button></li>
                    <!-- <li><button><i class="bx bx-user"></i></button></li> -->
                    <li><button><i class="bx bx-cog"></i></button></li>
                    <li><button><i class="bx bx-chat"></i></button></li>
                    <li><button><i class="bx bx-bell"></i><span>1</span></button></li>    
                </div>
                </ul>
            </ul>
        </nav>
    </header>